@import url("forms.css");  /* import forms layout */

/* add CSS to style your page here */
body {
    background-color: #ff99cc;
}
h1 {
    color: #ffffff;
    text-align: center;
}

fieldset{
    background-color: #ff99cc;
    margin: auto;
}

table{
    background-color: #ff99cc;
    margin: auto;
}